body {
    background-color: #132639;
    background-image: url("damask_tumma.png");
}
p {
    color: whitesmoke;
    font-family: Century, serif;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 20%;
    text-align: justify;
    line-height: 1.5;
}
h1 {
    color: whitesmoke;
    padding-top: 200px;
    font-family: Century, serif;
    margin-left: 10%;
}
h3 {
    color: whitesmoke;
    font-family: Century, serif;
    padding-top: 50px;
    margin-left: 10%;
}
li {
    color: whitesmoke;
    font-family: Century, serif;
    margin-left: 10%;
}
.kuva {
    margin-left: 10%;
    margin-top: 50px;
    margin-bottom: 100px;
}
.navigaatiopalkki ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: #400080;
}
.navigaatiopalkki li {
    float: left;
    border-right: 1px solid whitesmoke;
}
.navigaatiopalkki li a {
    text-decoration: none;
    color: whitesmoke;
    display: block;
    padding: 10px;
    background-color: #400080;
}
.navigaatiopalkki li a:hover {
    background-color: #6600cc;
}
div.linnakuva img{
    margin-top: 50px;
    border: 2px solid black;
    box-shadow: 10px 10px 5px grey;
}
.copyright p {
    text-align: center;
    margin: 20px;
}
div.yhteystiedot img {
    margin-left: 7%;
}
div.koulutus ul {
    margin-left: 10%;
}
div.copyright p {
    padding-top: 60px;
    font-size: 12px;
}
div.pelikuvat {
    width: 100%;
    margin-left: 10%;
    float: left;
    margin-bottom: 50px;
}
div.pelikuvat img {
    width: 270px;
    height: auto;
    padding: 10px;
    
}

